<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Faculty Leave Portal</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <p class="navbar-brand"><a href="/back">Faculty Leave Portal</a></p>
      </div>
        <ul class="nav navbar-nav navbar-right">
          <li id="info"><a href="/info">Info</a></li>
          <li id="requests"><a href="/leaveRequests">Leave Requests</a></li>
          <li id="appoint"><a href="/appoint">Appoint</a></li>
          <li id="logout"><a href="/me">Me</a></li>
          <li id="logout"><a href="/home">Log Out</a></li>
        </ul>
    </div>
  </nav>
  <body>
    <h1>Director</h1>
    <p> Name : <%= dir %> </p>
    <div class="footer-padding"></div>
    <div class="footer">
      <p>Made by Abhishek & Riddam</p>
    </div>
  </div>
  </body>
  </html>